<% if current_user.admin? %>

    <table>
        <thead>
            <th>Issue Title</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Assigned Expert</th>
        </thead>
        <tbody>
    <% @issues.each do |each_issue| %>
        <tr>
            <td><%= link_to each_issue.title, show_issue_path(id: each_issue.id)  %></td>
            <td><%= each_issue.priority %></td>
            <td><span class="status-<%= each_issue.status %>"><%= each_issue.status %></span></td>
            <td>
                <% if each_issue.expert_id > 0 %>
                    <% @expert = User.find_by(id: each_issue.expert_id)%>
                    <%= @expert.username %>
                <% else %>
                    UNASSIGNED
                <% end %>
            </td>
        </tr>
    <% end %>

        </tbody>
    </table>
 
<% else %>
    <li>
        <span class="issue_title"><%= link_to issue.title, show_issue_path(id: issue.id) %></span><br/>
        <span class="priority"> <p> Priority: <%= issue.priority %> </p></span>
        <span class="timestamp">    
            <h6> Posted on <%= issue.created_at %></h6>
        </span>
    </li>
<% end %>
