<%= provide(:title, "Raise Issue") %>
<h3>Raise Issue</h3>
<%= form_for(@issue) do |f| %>

    <%= f.label :issue_title %>
    <%= f.text_field :title %>

    <%= f.label "Issue Description" %>
    <%= f.text_area :description, placeholder: "Minimum 50 characters" %>

    <%= f.label :priority, "Priority [Low, Medium or High]" %>
    <%= f.text_field :priority %>

    <%= f.submit "Raise Issue"%>
<% end %>
