<% if current_user.admin? %>

    <h2> <%= @issue_admin.title %></h2>
    <h4>Status: <%= @issue_admin.status %> </h4>
    <p>Posted <%= time_ago_in_words(@issue_admin.created_at) %> ago.
    <span class="assign">
        <%= link_to "Assign Issue", mark_in_progress_path(id: @issue_admin.id, 
                                                          status: "inprogress") %> |
    </span>
    <span class="resolved">
        <%= link_to "Resolved Issue", '#' %> |
    </span>
    <span class="closed">
        <%= link_to "Close Issue", '#' %>
    </span>
    </p>
    <p><%= @issue_admin.description %></p>

<% else%>

    <h2><%= @issue.title %></h2>
    <h4>Status: <%= @issue_admin.status %> </h4>
    <p>Posted <%= time_ago_in_words(@issue.created_at) %> ago.</p>
    <p><%= @issue.description %></p>
<% end %>
