<div class="top-bar">
    <div class="top-bar-left">
            <li class="menu-text">Issue Tracker</li>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><%= link_to 'HOME', root_path %></li>
            <li><%= link_to 'ABOUT', about_path %></li>
            <li><%= link_to 'HELP', help_path %></li>
            <% if logged_in? %>

                <% if !@current_user.activated? %>
                    <li><%= link_to 'RENEW ACTIVATION LINK', new_account_activation_path(@current_user) %></li>
                <% end %>

                <% if @current_user.admin? %>
                    <li><%= link_to 'ISSUES', '#' %></li>
                <% else %>
                        <li><%= link_to 'RAISE ISSUE', new_issue_path %></li>
                <% end %>
                <li><%= link_to 'PROFILE', current_user %></li>
                <li><%= link_to 'LOGOUT', logout_path, method: :delete %></li>
            <% end %>
        </ul>
    </div>
</div>
